<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>My Steroids App</title>
    <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="import" href="/components/supersonic/components/import.html">
    <script src="http://localhost/cordova.js"></script>
    <script src="/components/steroids-js/steroids.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/supersonic/supersonic.js"></script>
    <script src="/components/webcomponentsjs/webcomponents.js"></script>
    <script src="/scripts/application.js"></script>
</head>

<body ng-app="SteroidsApplication">
    <div class="main" ng-controller="IndexController">
        <header class="navbar">
            <button class="left-menu" ng-click="openLeftMenu()"></button>
            <button class="btn2"></button>
            <button class="btn3"></button>
        </header>
        <div class="content">
            <div ng-repeat="rows in allProducts[selectedTab]" class="row product-row">
                <div ng-click="addProduct($event)" ng-repeat="product in rows" class="col product">
                    <div class="name">{{product.name}}</div>
                    <div class="price">Rs. {{product.price}}/-</div>
                    <button  class="add"> + </button>
                </div>
            </div>
        </div>
        <footer class="tabbed">
            <ul ng-style="tabWrapper" class="ulWrapper">
                <li tab="sandwich" ng-click="changeTab($event)" >
                    <img src="/img/pizza.gif">
                    <span>Sandwiches</span>
                </li>
                <li tab="pizza" ng-click="changeTab($event)" >
                    <img src="/img/pizza.gif">
                    <span>Pizza</span>
                </li>
                <li tab="roll" ng-click="changeTab($event)" >
                    <img src="/img/pizza.gif">
                    <span>Rolls</span>
                </li>
                <li tab="sandwich" ng-click="changeTab($event)" >
                    <img src="/img/pizza.gif">
                    <span>Kebabs</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Sandwiches</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Pizza</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Rolls</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Kebabs</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Sandwiches</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Pizza</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Rolls</span>
                </li>
                <li>
                    <img src="/img/pizza.gif">
                    <span>Kebabs</span>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>
