.main{
	position: relative;
	float:left;
	width: 100%;
}

header.navbar{
	background-color: #e1170b;
	position: fixed;
	height: 12%;
	right:0px;
	left:0px;
	top:0px;
	z-index: 1;
}

div.content{
	top:10%;
	left: 0;
	right: 0;
	bottom: 15%;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;  

}

header.navbar > button{
	height: 100%;
	width: 8%;
	border: 0;
	background-repeat: no-repeat;
	background-color: #e1170b;
}

header.navbar > button.left-menu{
	background-image: url('../img/left-menu-btn.gif');
}

header.navbar > button.btn2{
	background-image: url('../img/btn2.gif');
}
header.navbar > button.btn3{
	background-image: url('../img/btn3.gif');
}

footer.tabbed{
	height: 18%;
	position:fixed;
	background:url('../img/red-bg.gif') repeat-x;
	background-position: 0 12px;
	bottom:0px;
	right:0px;
	left:0px;
}

footer.tabbed ul, footer.tabbed ul li {
	margin: 0px;
	padding: 0px;
}

footer.tabbed ul{
	overflow: auto;
	white-space: nowrap;
	height: 100%;
}

footer.tabbed ul li {
	width: 30%;
	color: #fff;
	display: inline-block;
	text-align: center;
}

footer.tabbed ul li img {
	height:32px;
	width:32px;
}

footer.tabbed ul li span {
	display:block;
	font-weight:bold;
}

html, body, .main{
	height: 100%;
}


.product-row{
	margin: 10px 0px;
	overflow: hidden;
}

.product-row .product{
	margin-left: 10px;
	border: 1px solid #fec107;
	position: relative;
	max-width: 32%;
}

.product-row .product:first-child{
	margin-left: 0px;
}

.product div.name{
	color: #2c4099;
}

.product div.price{
	color: #e10e53;
	font-weight: bold;
}

.product button.add{
	position: absolute;
	font-size: 30px;
	right: 0; bottom: 0;
	border:0px;
	line-height: 20px;
	height: 30px;
	width: 30px;
	background-color: #fec107;
	color: #FFF;
}